<header class="cabecalho">
  <div class="logo">
      <a href="#inicio">
        <img src="http://files.cod3r.com.br/curso-web/logo.png" alt="Logo" />
      </a>
  </div>
  <button class="menu-toggle">
      <i class="fa fa-lg fa-bars"></i>
  </button>
  <nav class="menu">
      <ul>
          <li>
              <a [routerLink]="['/home']">Início</a>
          </li>
          <li>
              <a [routerLink]="['/usuario/listar']">Usuário</a>
          </li>
          <li>
              <a [routerLink]="['/cliente/listar']">cliente</a>
          </li>
      </ul>
  </nav>
  <aside class="autenticacao">
      <a [routerLink]="['auth/login']" class="botao destaque">sair</a>
  </aside>
</header>
