@media (max-width: 1193px){
  .telefone, .origem, .botao, .botao1 {
    margin-left: 120px;
  }
}
@media (max-width: 572px){
 * {
    margin-left: 0px;
  }
}

label{
  width: 100px;
  display: inline-block;
}
