h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  font-size: 25px;
}

.cadastro{
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.nome{
  input{
    border: 1px solid black;
    border-radius: 30px;
    margin-left: 5px;
    display: inline-block;
    height: 25px;
    width: 280px;
  }
  display: inline-block;
  margin-left: 180px;
  padding: 5px;
  font-size: 20px;
}

.origem{
  input{
    border: 1px solid black;
    border-radius: 30px;
    margin-left: 5px;
    display: inline-block;
    height: 25px;
    width: 280px;
  }
  display: inline-block;
  margin-left: 190px;
  padding: 5px;
  font-size: 20px;
}

.descricao{
  input{
    border: 1px solid black;
    border-radius: 30px;
    margin-left: 5px;
    display: inline-block;
    height: 25px;
    width: 280px;
  }
  display: inline-block;
  margin-left: 180px;
  padding: 5px;
  font-size: 20px;
}

.telefone{
  input{
    border: 1px solid black;
    border-radius: 30px;
    margin-left: 5px;
    display: inline-block;
    height: 25px;
    width: 280px;
  }
  display: inline-block;
  margin-left: 190px;
  padding: 5px;
  font-size: 20px;
}

.procurar{
  input{
    border: 1px solid black;
    border-radius: 30px;
    margin-left: 5px;
    display: inline-block;
    height: 25px;
    width: 280px;
  }
  display: inline-block;
  margin-left: 95px;
  padding: 5px;
  font-size: 20px;
}

.botao{
  width: 35px;
  height: 35px;
  margin-left: 50px;
  margin-top: 40px;
  float: left;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.botao1{
  width: 35px;
  height: 35px;
  margin-right: 60px;
  margin-top: 40px;
  margin-bottom: 10px;
  float: right;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(147, 233, 147);
}

@media (max-width: 1193px){
  .telefone, .origem, .botao, .botao1 {
    margin-left: 120px;
  }
}
@media (max-width: 572px){
 * {
    margin-left: 0px;
  }
}

label{
  width: 100px;
  display: inline-block;
}
