<div class="cadastro">
  <h2> {{ id ? 'Atualizar': 'Cadastro de '}} usuário</h2>
    <form [formGroup]="myForm">
  <div class="formControl">
    <label for="nome">Nome*:</label>
    <input placeholder=" Digite seu nome" formControlName="nome"
      type="text" name="nome" id="nome" [ngClass]="aplicaCssError('nome')">
      <app-control-error
        [mostrarErro]="VerificaValidTouche('nome')"
        msgErro="Nome obrigatório.">
      </app-control-error>
    </div>
  <div class="email">
    <label for="Email">Email*:</label>
    <input placeholder=" Digite seu email" formControlName="email"
    type="email" name="email" id="email" [ngClass]="aplicaCssError('senha')">
    <app-control-error
    [mostrarErro]="VerificaValidTouche('email')"
   msgErro="email obrigatório.">
  </app-control-error>
  </div>
  <div class="formControl">
    <label for="senha">Senha*:</label>
    <input placeholder="Digite sua senha" formControlName="senha"
      type="password" name="senha" id="senha" [ngClass]="aplicaCssError('senha')">
    <app-control-error
      [mostrarErro]="VerificaValidTouche('senha')"
     msgErro="Senha obrigatório.">
    </app-control-error>
  </div>
  <div class="Acesso">
    <label for="acesso">Primeiro Acesso*:</label> Sim
    <input type="radio" id="sim" name="acesso" value="true"  formControlName="acesso" > Não
    <input type="radio" id="nao" name="acesso" value="false" formControlName="acesso" >
  </div>
  <div>
  <a [routerLink]="['/usuario/listar']">
  <button class="botao" title="voltar">
    <fa-icon [icon]="faArrowLeft"> </fa-icon>
  </button>
  </a>
  <button (click)="confirmar()" class="botao1" title="confirmar" [disabled]="!myForm.valid">
    <fa-icon [icon]="faCheck"> </fa-icon>
    </button>
  </div>
</form>
</div>
