h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  font-size: 25px;
}

.cadastro{
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  font-size: 25px;
}

.formControl{
  input{
    width: 100%;
    padding: 12px;
    // border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    display: inline-block;

  }
  display: inline-block;
  margin-left: 170px;
  padding: 5px;
  font-size: 20px;
}

.email{
  input{
    width: 100%;
    padding: 12px;
    // border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  display: inline-block;
  margin-left: 200px;
  padding: 5px;
  font-size: 20px;
}

.Acesso {
  margin-left: 205px;
  display: inline-block;
  font-size: 20px;
}

.botao{
  width: 35px;
  height: 35px;
  margin-left: 30px;
  margin-bottom: 20px;
  float: left;
  margin-top: 30px;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.botao1{
  width: 35px;
  height: 35px;
  margin-right: 80px;
  margin-bottom: 20px;
  float: right;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(147, 233, 147);
}

@media (max-width: 1193px){
  .Acesso, .email, .botao, .botao1 {
    margin-left: 120px;
  }
}
@media (max-width: 572px){
 * {
    margin-left: 0px;
  }
}
