<div class="form-filtro">
  <h1>Buscar cliente</h1>
  <div class="control-filtro">
    <label for="nome">Nome:</label>
    <input placeholder="Nome" type="text" name="nome" id="nome" required>
  </div>
  <div class="control-filtro">
    <label for="email">Email:</label>
    <input placeholder="Email" type="email" name="email" id="email" required>
  </div>
  <div class="btn-filtro">
    <button class="filtrar" title="filtrar">
      <fa-icon [icon]="faSearch"> </fa-icon>
    </button>
    <button class="limpar" title="limpar">
      <fa-icon [icon]="faEraser"> </fa-icon>
    </button>
  </div>
  <a [routerLink]="['/cliente/cadastro']"><button class="add" title="adicionar">
    <fa-icon [icon]="faPlus"> </fa-icon>
    </button></a>
</div>
