<app-filtro></app-filtro>
<div class="container">
  <table border="1" >
  <thead>
  <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Ações</th>
  </tr>
  <br>
 </thead>
 <tbody>
  <tr>
      <td>Kennedy gomes vieira</td>
      <td>gomeskennedy11@gmail.com</td>
      <td>
        <button class="editar" title="editar">
          <fa-icon [icon]="faPencil"> </fa-icon>
          </button>
        <button class="deletar" title="deletar">
          <fa-icon [icon]="faTrashcan"> </fa-icon>
         </button>
      </td>
  </tr>
  <tr>
      <td>Alex junior saturnino sobrinho</td>
      <td>gomeskennedy11@gmail.com</td>
      <td>
        <button class="editar" title="editar">
          <fa-icon [icon]="faPencil"> </fa-icon>
          </button>
        <button class="deletar" title="deletar">
          <fa-icon [icon]="faTrashcan"> </fa-icon>
        </button>
      </td>
  </tr>
</tbody>
</table>
</div>
