<app-filtro></app-filtro>
<div class="container">
  <table border="1" >
  <thead>
  <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Ações</th>
  </tr>
  <br>
 </thead>
 <tbody>
  <tr *ngFor="let user of dataSource">
      <td>{{ user.nome }}</td>
      <td>{{user.email }}</td>
      <td>
        <button class="editar" title="editar" (click)="redirectPut(user.id)">
          <fa-icon [icon]="faPencil"> </fa-icon>
          </button>
        <button class="deletar" title="deletar" (click)="delete(user.id)">
          <fa-icon [icon]="faTrashcan"> </fa-icon>
         </button>
      </td>
  </tr>
</tbody>
</table>
</div>
